html, body {
	background-color: #eee !important;
}

.buzz {
	color: #cddc39;
}

.title {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-size: 5em;
}

.custom-button {
	background: transparent;
	border: 2px solid #393939;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #393939, 0px 0px 1px #0d0d0d; 
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 1.8em;
	padding: 5px 10px;
}

.custom-button:hover {
	background: #ddd;
}

.custom-input {
	border-radius: 2px;
	border: 2px solid #393939;
	font-size: 2.5em;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	text-align: center;
}

.link-text, .modal-text {
		font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-size: 1.2em;
}

.modal-title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 1.8em;
}